body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  color: grey;
}

.calculator {
    display: inline-flex;
    flex-direction: column;
}

.result-holder {
    align-self: center;
}

.result {
    float: right;
    color: green;
}

.animate {
    animation-name: bunge;
    animation-duration: 1s;
}

.by-income, .by-value {
    width: 500px;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.5);
    padding: 0 30px 0 30px;
    margin: 30px;
}

button {
    background-color: green;
    padding: 15px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    margin: 20px;
    align-self: center;
    float: right;

}

.by-value {
    float: right;
}

.input-holder {
    padding: 5px;

}

.input-holder> input {
    padding: 3px;
    border-radius: 3px;
    width: 130px;
    float: right;
    background-color: grey;
}

@keyframes bunge {
    0% {
        transform: scale(0.7) rotate(30deg);

    }
    25% {
        transform: scale(1.3) rotate(-30deg);
    }
    50% {
        transform: scale(1)  rotate(20deg);
    }
    75% {
        transform: scale(1.3) rotate(-10deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
